h1 {
  color: white;
  /* Rgb */
  background-color: rgb(100, 149, 237);
}

button {
  color: darkviolet;
  /* Heksa */
  background-color: #d2b48c;
}

p {
  /* Color Names */
  color: white;
  background-color: grey;
}
