h1 {
  text-align: center;
  /* font-weight: 700; */
  text-decoration: underline overline dotted rgba(230, 26, 26, 0.726);
}

p {
  line-height: 1.5;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}
