body {
  background-color: cornflowerblue;
}

/* Direct Descandent */
.tulisan > p {
  color: white;
}

/* Ajdacent Selector */
#tulisan2 + button {
  background-color: gray;
  color: white;
}

/* Atribute Selector */
input[type="text"] {
  color: red;
  margin-bottom: 5px;
}
